/* header component */
.page-header {
  width: 100%;
  height: 6rem;
}

.top-bar-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: space-between;
}

#back-arrow {
  width: 50%;
  height: 50%;
  margin-left: 2rem;
}

.navbar-logo {
  margin-top: 1rem;
}

.navbar-link {
  margin-left: auto;
  margin-right: 20rem;
  margin-top: 2rem;
}

.navbar-link .navbar-link-item:first-child {
  margin-right: 10rem;
}

.navbar-link-item {
  text-decoration: none;
  margin: 2rem;
  color: var(--color-text-light);
}
