/* card item */

.card-item {
  width: 30rem;
  height: 20rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
}

.card-item-image {
  width: 30vw;
  height: 20rem;
  background-color: black;
  border-radius: 2rem 2rem 0 0;
  box-shadow: black 20 0 10 0;
  display: flex;
}

.card-item-image img {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 1rem 1rem 0 0;
}

.card-item-metacritic {
  width: 4rem;
  height: 4rem;
  position: relative;
  background-color: var(--color-primary-light);
  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: -5rem;
  margin-top: 15rem;
  margin-bottom: 1rem;
  z-index: 10;
}

.card-item-metacritic h6 {
  text-align: center;
  margin-top: 25%;
  color: var(--color-text-light);
}

/* card description */
.card-item-desc {
  width: 30vw;
  height: 5rem;
  text-align: center;
  padding-top: 1rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--color-primary-dark);
}

.card-item-desc-title h2 {
  font: Regular 400 4rem Roboto;
  color: var(--color-text-title-light);
}

.card-item-desc .card-item-desc-data .card-item-desc-buy {
  display: unset;
}

.card-item-desc-data .card-desc-line:nth-last-child(2) > h4:first-child {
  margin-right: 10rem;
}

.card-item-desc-data .card-desc-line:nth-child(2) h4:last-child {
  font-size: 1.2rem;
}

.card-desc-line {
  margin-top: 1rem;
  opacity: 0;
  height: 5rem;
  display: flex;
  color: var(--color-text-light);
  border-bottom: 0.1rem solid black;
}

.card-desc-line h4:first-child {
  margin-left: 2rem;
}

.card-desc-line h4:last-child {
  margin-left: auto;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.card-item-desc-buy button {
  width: 90%;
  height: 0rem;
  display: unset;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-primary-light);
}

.card-item-desc-buy button:hover {
  transition: 0.2s;
  cursor: pointer;
  background-color: var(--color-primary-main);
  border-radius: 1rem 0 1rem 1rem;
}

.card-item:hover {
  height: 40rem;
}

.card-item:hover .card-item-desc {
  transition: 1s;
  height: 25rem;
}

.card-item:hover .card-item-desc-data > .card-desc-line {
  transition: 1s;
  opacity: 1;
  height: 3rem;
}

.card-item:hover .card-item-desc-buy button {
  transition: 0.5s;
  height: 5rem;
}
