#page-landing {
  width: 100vw;
  height: 100vh;
}

#page-header {
  background-color: var(--color-primary-main);
}

/*  introduce section */
#landing-introduce-container {
  display: flex;
  margin-top: 5rem;
}


/* landing introduce image */
#landing-introduce-container img {
  width: 30%;
  margin-top: 5rem;
  margin-left: 2rem;
}

/* page title */
#landing-introduce-title {
  width: 40vw;
  height: 40vh;
  text-align: center;
}



#landing-introduce-title h1 {
  margin-left: -20rem;
  text-align: center;
}

#landing-introduce-title p {
  text-align: left;
}

#landing-introduce-title p:first-of-type {
  margin-top: 15vh;
}

/* card list */
#cardlist {
  max-width: 90vw;
  padding-top: 5rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* card item */
.card-item {
  width: 300px;
  min-height: 25rem;
  max-height: 40rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
  border-radius: 1rem;
  background-color: var(--color-primary-main);
}

.card-img {
  width: 100%;
  height: 25rem;
  display: flex;
  box-sizing: border-box;
  border-radius: 1rem;
}

.card-img img {
  width: 100%;
  height: 25rem;
  border-radius: inherit;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}

.card-title-box {
  width: 100%;
  height: 5rem;
  margin-top: auto;
  margin-left: -100%;
  position: relative;
  display: flex;
  border-radius: inherit;
  background-image: linear-gradient(#ffffff00, var(--color-primary-dark));
}

.card-metacritic {
  width: 4rem;
  height: 4rem;
  margin-left: 5rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary-light);
}

.card-metacritic h3 {
  padding-top: 0.5rem;
  text-align: center;
}

/* card description */
.card-desc {
  width: inherit;
  height: 20rem;
  display: none;
  overflow: visible;
  padding-top: 1rem;
}

.card-first-line {
  width: inherit;
  height: 5%;
  margin-bottom: 3rem;
  display: flex;
  align-content: space-between;
}

.card-first-line h3 {
  margin-left: auto;
  margin-right: 2rem;
}

.card-platforms {
   width: 60%;
   height: inherit;
   display: flex;
}

.card-platforms img {
  height: 2rem;
  margin-left: 1rem;
}


/* card description line */
.card-desc-line {
  width: 95%;
  height: 15%;
  margin-left: 2.5%;
  margin-top: 1rem;
  display: flex;
  border-bottom: 0.1rem solid black;
}

.card-desc-line h4:last-child {
  margin-left: auto;
  margin-right: 2rem;
}

.card-show-details {
  width: inherit;
  height: 5rem;
  padding-top: 1rem;
}

.card-show-details button {
  width: 95%;
  height: 90%;
  border: none;
  margin-left: 2.5%;
  border-radius: 1rem;
  background-color: var(--color-primary-light);
}

.card-show-details button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: var(--color-primary-dark);
}


/* Open the desc card */
.card-item:hover{
  transition: 1s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-item:hover .card-img img {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}

.card-item:hover .card-desc {
  transition: 1s;
  opacity: 1;
  display: block;
  overflow: visible;
}
