:root {
  font-size: 55%;

  --color-primary-dark: #8c0327;
  --color-primary-main: #bf0436;
  --color-primary-light: #d90452;
  --color-text-light: #f2f2f2d7;
  --color-text-title-light: #f2f2f2f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

/* Delimiting a responsive val */
@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
