:root {
  font-size: 55%;

  --color-primary-dark: #474372;
  --color-primary-main: #4F4B86;
  --color-primary-light: #827DBD;
  --color-secondary-dark: #8c0327;
  --color-secondary-main: #bf0436;
  --color-secondary-light: #d90452;
  --color-text-light: #F1F1F1;
  --color-text-title-light: #f2f2f2f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text-light);
}

html,
body,
#root {
  height: 100vh;
  background-color: var(--color-primary-dark);
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

.flex-center {
  display: flex;
  align-content: space-between;
  align-items: center;
}

/* Delimiting a responsive val */
@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
